* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
html {
  font-size: 1.125rem;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 96px 0;
}

header {
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

main {
  background: hsl(0deg, 0%, 60%);
}

.intro-chunk, .card {
  padding: 4px 16px 16px;
}

.intro-chunk .title {
  margin-bottom: 32px;
  font-size: 2rem;
}

.intro-chunk p {
  width: 300px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  background: white;
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  width: fit-content;
  padding: 16px 32px;
  background: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  font-size: 1rem;
  margin-left: -32px;
  margin-top: 0;
}