* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  padding: 64px 128px 32px;
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

main {
  padding: 64px 128px 32px;
  background: hsl(0deg, 0%, 60%);
}

.intro-chunk, .card {
  padding: 4px 16px 16px;
}

.title {
  margin-bottom: 32px;
  font-size: 1.5rem;
}

.intro-chunk p {
  width: 300px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  background: white;
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  width: fit-content;
  padding: 16px 32px;
  background: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  font-size: 1rem;
  margin-left: -32px;
  margin-top: 0;
}

/* table & mobile view */
@media (max-width: 768px) {
  header {
    padding: 64px 0 32px;
  }

  main {
    padding: 64px 0 32px;
  }

  .title, .indented-heading {
    font-size: 2rem;
  }

  .intro-chunk p {
    width: 400px;
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1.5rem;
  }
}

/* mobile view only */
@media (max-width: 420px) {
  .indented-heading {
    width: 100%;
  }

  .intro-chunk p {
    width: 100%;
    font-size: 2rem;
  }

  .card p {
    font-size: 2rem;
  }
}